
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(/panel/client/public/teknofest.png);
  width:100%;
  height: auto;
  margin: 0;  
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffffe9;
}

.link-btn {
  background: none;
  color: rgba(0, 0, 0, 0.781);
  text-decoration: underline;
  margin :10px;
} 


